/* Portals CSS */

#portals-view {
    width: 100%;
    min-height: 100%;
    background-image: url('../img/backgrounds/portals_background.jpg');
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    z-index: 1;
    display: flex;
}

#portals-content {
    margin: 13rem auto;
    background-color: rgba(255,255,255,0.66);
    width: 100%;
    max-width: 117rem;
    text-align: center;
    min-height: calc(100vh - 26rem);
}

#portals-content #portals-header {
    margin-top: 2rem;
}

#portals-content #portals-header > div {
    display: flex;
    margin: 1rem 0;
}

#portals-content #portals-header #current-server {
    margin: 3rem auto 0 auto;
    width: 25rem;
    font-size: 2rem;
    padding: 2rem 2rem 0;
    background-color: rgb(238,238,238);
}

#portals-content #portals-header #current-server md-select-value {
    color: #333;
}

#portals-content #portals-header #guild-clipboard {
    padding: 0.5rem;
    background-color: purple;
    display: flex;
    color: white;
}

#portals-content #portals-header #guild-clipboard:hover {
    color: white;
}

#portals-content #portals-header #guild-clipboard img {
    height: 5rem;
    width: 5rem;
    margin: auto;
}

#portals-content #portals-header #guild-clipboard span {
    margin: auto;
}

#portals-content #portals-header #refresh-btn {
    padding: 1rem;
    background-color: rgb(52,152,219);
    display: flex;
    width: 15rem;
    color: #000000;
}

#portals-content #portals-header #refresh-btn:hover {
    color: #000000;
}

#portals-content #portals-header #refresh-btn img {
    height: 4rem;
    width: 4rem;
}

#portals-content #portals-header #refresh-btn span {
    display: block;
    font-size: 3rem;
    margin: auto;
}

#portals-content a {
    cursor: pointer;
    text-decoration: none;
}

#portals-content .portal-div {
    display: flex;
    margin: 2rem 0;
}

#portals-content .portal {
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 54rem;
    border-radius: 6rem;
    background-color: #666;
    border: 2px double #666;
}

#portals-content .portal.ecaflipus {
    background-color: rgb(165,194,136);
}

#portals-content .portal.enurado {
    background-color: rgb(212,185,32);
}

#portals-content .portal.srambad {
    background-color: rgb(65,89,136);
}

#portals-content .portal.xelorium {
    background-color: rgb(146,107,155);
}

#portals-content .dimension-title {
    margin: auto;
    font-size: 3.5rem;
    font-family: "Rye", "Verdana", "Geneva", "Tahoma", "sans-serif";
    text-transform: uppercase;
}

#portals-content .dimension-img {
    margin: auto;
    height: 10rem;
}

#portals-content .portal > div {
    margin: auto;
    display: flex;
}

#portals-content .portal .modifiers-div {
    flex-direction: column;
    width: 100%;
    background-color: #ccc;
}

#portals-content .portal .modifiers-header {
    display: flex;
    margin: auto;
    width: 100%;
    padding: 0.5rem 0;
}

#portals-content .portal .modifiers-header div {
    margin: auto 0.5rem auto auto;
}

#portals-content .portal .modifiers-header img {
    height: 4rem;
    width: 4rem;
}

#portals-content .portal .dimension {
    flex-direction: row;
}

#portals-content .portal .infos {
    flex-direction: row;
    display: flex;
    width: 100%;
}

#portals-content .portal .infos .position {
    background-color: #fff;
}

#portals-content .portal .infos .numberUses {
    background-color: #fff;
}

#portals-content .portal .copy-infos {
    width: 100%;
}

#portals-content .portal .copy-infos a {
    margin: auto;
    display: flex;
    width: 100%;
    padding: 0.5rem 0;
    background-color: #666;
}

#portals-content .portal .copy-infos a span {
    margin: auto;
    color: white;
}

#portals-content .portal .copy-infos a img {
    margin: auto;
    height: 4rem;
    width: 4rem;
}

#portals-content .portal .user {
    width: 100%;
}

#portals-content .portal .user span {
    font-size: 2rem;
    margin: auto;
    padding: 0.5rem 0;
    background-color: white;
    width: 100%;
}

#portals-content .portal .update {
    width: 100%;
}

#portals-content .portal .update > div {
    width: 50%;
    display: flex;
    padding: 0.5rem 0;
}

#portals-content .portal .update .update-time {
    background-color: #eee;
}

#portals-content .portal .update .update-link {
    background-color: #fff;
}

#portals-content .portal .update a {
    margin: auto;
    display: flex;
    width: 100%;
}

#portals-content .portal .update span {
    margin: auto;
    color: black;
}

#portals-content .portal .update img {
    margin: auto;
    height: 4rem;
    width: 4rem;
}

#portals-content .portal .dimension {
    display: flex;
    padding-bottom: 1rem;
}

#portals-content .portal .votes {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#portals-content .portal .votes .confirm {
    background-color: rgb(102,204,153);
}

#portals-content .portal .votes .report {
    background-color: rgb(210,77,87);
}

#portals-content .portal .votes .confirm:hover {
    border-color: rgb(102,204,153);
}

#portals-content .portal .votes .report:hover {
    border-color: rgb(210,77,87);
}

#portals-content .portal .votes > a {
    margin: auto;
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    border: 2px solid transparent;
}

#portals-content .portal .votes > a:hover {
    background-color: #fff;
}

#portals-content .portal .votes > a > img {
    margin: auto;
}

#portals-content .portal .votes > a > .badge {
    margin: auto;
    background-color: #fff;
    font-size: 2rem;
    padding: 3px 5px;
}

#portals-content .portal .votes > a:hover > .badge {
    color: #fff;
}

#portals-content .portal .votes .confirm > .badge {
    color: rgb(102,204,153);
}

#portals-content .portal .votes .report > .badge {
    color: rgb(210,77,87);
}

#portals-content .portal .votes .confirm:hover > .badge {
    background-color: rgb(102,204,153);
}

#portals-content .portal .votes .report:hover > .badge {
    background-color: rgb(210,77,87);
}

#portals-content .portal .votes img {
    height: 4rem;
    width: 4rem;
}

#portals-content .portal .infos .position > div {
    display: flex;
    margin: auto;
}

#portals-content .portal .infos > div {
    display: flex;
    width: 50%;
}

#portals-content .portal .infos img {
    height: 5rem;
    width: 5rem;
    margin: auto;
}

#portals-content .portal .infos a {
    display: flex;
    cursor: pointer;
    padding: 0.5rem;
    background-color: #666;
}

#portals-content .portal .infos a img {
    height: 4rem;
    width: 4rem;
    margin: auto;
}

#portals-content .portal .infos span {
    font-size: 2rem;
    font-weight: bold;
    margin: auto;
}

#portals-content .portal .modifiers-cycle{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: 0 auto 1rem auto;
    position: relative;
    overflow: hidden;
    border: 10px solid #fff;
    box-shadow: rgba(0,0,0,0.2) 0px 0px 10px, rgba(0,0,0,0.05) 0px 3px 0px;
}

#portals-content .modifiers-cycle:before{
    content: '';
    position: absolute;
    border: 4px solid rgba(0,0,0,0.1);
    width: 334px;
    height: 334px;
    border-radius: 50%;
}

#portals-content .modifier img{
    outline: none;
}

#portals-content .modifier img.current-modifier {
    cursor: default;
}

#portals-content .modifier img:not(.current-modifier){
    opacity: 0.4;
}

#portals-content .modifier img:not(.current-modifier):hover{
    opacity: 0.6;
}

#portals-content .modifiers{
	width:100%;
	height:100%;
	
	-webkit-transition: all 5s cubic-bezier(0,.99,.44,.99);
	-moz-transition:    all 5 cubic-bezier(0,.99,.44,.99);
	-o-transition:      all 5s cubic-bezier(0,.99,.44,.99);
	-ms-transition:     all 5s cubic-bezier(0,.99,.44,.99);
	transition:         all 5s cubic-bezier(0,.99,.44,.99);	
}

#portals-content .modifiers-cycle div.modifier{
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 182px 59px 0;
    border-color: #fff transparent;
    transform-origin: 59px 182px;
    left: 106px;
    top: -15px;
    opacity: 1;
}

#portals-content .modifiers-cycle div.modifier:nth-child(1){
	transform: rotate(36deg);
	-webkit-transform: rotate(36deg);
	-moz-transform: rotate(36deg);
	-o-transform: rotate(36deg);
	-ms-transform: rotate(36deg);
	border-color: #eee transparent;	
}

#portals-content .modifiers-cycle div.modifier:nth-child(2){
	transform: rotate(72deg);
	-webkit-transform: rotate(72deg);
	-moz-transform: rotate(72deg);
	-o-transform: rotate(72deg);
	-ms-transform: rotate(72deg);
	border-color: #ddd transparent;	
}

#portals-content .modifiers-cycle div.modifier:nth-child(3){
	transform: rotate(108deg);
	-webkit-transform: rotate(108deg);
	-moz-transform: rotate(108deg);
	-o-transform: rotate(108deg);
	-ms-transform: rotate(108deg);
	border-color: #eee transparent;	
}

#portals-content .modifiers-cycle div.modifier:nth-child(4){
	transform: rotate(144deg);
	-webkit-transform: rotate(144deg);
	-moz-transform: rotate(144deg);
	-o-transform: rotate(144deg);
	-ms-transform: rotate(144deg);
	border-color: #ddd transparent;	
}

#portals-content .modifiers-cycle div.modifier:nth-child(5){
	transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	border-color: #eee transparent;	
}

#portals-content .modifiers-cycle div.modifier:nth-child(6){
	transform: rotate(216deg);
	-webkit-transform: rotate(216deg);
	-moz-transform: rotate(216deg);
	-o-transform: rotate(216deg);
	-ms-transform: rotate(216deg);
	border-color: #ddd transparent;	
}

#portals-content .modifiers-cycle div.modifier:nth-child(7){
	transform: rotate(252deg);
	-webkit-transform: rotate(252deg);
	-moz-transform: rotate(252deg);
	-o-transform: rotate(252deg);
	-ms-transform: rotate(252deg);
	border-color: #eee transparent;	
}

#portals-content .modifiers-cycle div.modifier:nth-child(8){
	transform: rotate(288deg);
	-webkit-transform: rotate(288deg);
	-moz-transform: rotate(288deg);
	-o-transform: rotate(288deg);
	-ms-transform: rotate(288deg);
	border-color: #ddd transparent;	
}

#portals-content .modifiers-cycle div.modifier:nth-child(9){
	transform: rotate(324deg);
	-webkit-transform: rotate(324deg);
	-moz-transform: rotate(324deg);
	-o-transform: rotate(324deg);
	-ms-transform: rotate(324deg);
	border-color: #eee transparent;	
}

#portals-content .modifiers-cycle div.modifier:nth-child(10){
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	border-color: #ddd transparent;	
}

#portals-content .modifiers-cycle div.modifier .modifier-span{
    margin-top: -10rem;
    color: rgba(0,0,0,0.2);
    position: relative;
    display: block;
    margin-left: -25px;
    top: -52px;
}

#portals-content .modifiers-spin{
    width: 162px;
    height: 162px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -81px 0 0 -81px;
    border-radius: 50%;
    box-shadow: rgba(0,0,0,0.1) 0px 3px 0px;
    background: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 10;
}

#portals-content .modifiers-spin:before{
	content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 25px 28px 25px;
    border-color: transparent transparent #fff transparent;
    top: -21px;
    left: 56px;
    z-index: 1;
}

#portals-content .current-modifier-div{
    width: 146px;
    height: 146px;
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    margin: -73px 0 0 -73px;
    border-radius: 50%;
    z-index: 999;
    box-shadow: rgba(255,255,255,1) 0px -2px 0px inset, rgba(255,255,255,1) 0px 2px 0px inset, rgba(0,0,0,0.4) 0px 0px 5px;
    background: rgb(255,255,255);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(234,234,234,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(234,234,234,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(234,234,234,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=1 );
}

#portals-content .modifiers-spin .current-modifier-title {
    text-transform: uppercase;
    margin: auto;
    font-size: 1.4rem;
    line-height: 3rem;
    text-align: center;
    font-family: Verdana;
    font-weight: bold;
    color: #848484;
    max-width: 14rem;
}