<md-dialog id="updatePortals-dialog" aria-label="updatePortals">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{ 'UPDATE_PORTALS_TITLE' | translate }} - {{ getDimensionName() }}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeDialog()">
                <md-icon md-svg-src="{{ closeIconPath }}" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <form id="portal-form" name="updatePortalForm">
            <div>
                <div id="portal-infos">
                    <div ng-show="!newPortal.isUnknow" id="positions">
                        <img class="noselect" ng-src="{{ positionIconPath }}">
                        <div>
                            [
                            <md-input-container class="position">
                                <input required type="number" step="any" name="posX" ng-model="newPortal.posX" min="-99" max="99" aria-label="posX" />

                                <div ng-messages="updatePortalForm.posX.$error" multiple md-auto-hide="false">
                                    <div ng-message="required" ng-bind="'REQUIRED_ERROR' | translate"></div>
                                    <div ng-message="min">> -100</div>
                                    <div ng-message="max">
                                        < 100</div>
                                    </div>
                            </md-input-container>
                            ;
                            <md-input-container class="position">
                                <input required type="number" step="any" name="posY" ng-model="newPortal.posY" min="-99" max="99" aria-label="posY" />

                                <div ng-messages="updatePortalForm.posY.$error" multiple md-auto-hide="false">
                                    <div ng-message="required" ng-bind="'REQUIRED_ERROR' | translate"></div>
                                    <div ng-message="min">> -100</div>
                                    <div ng-message="max">
                                        < 100</div>
                                    </div>
                            </md-input-container>
                            ]
                            </div>
                            </div>
                        

                        <div ng-show="!newPortal.isUnknow" id="numberUses">
                            <img class="noselect" ng-src="{{ numberUsesIconPath }}">
                            <div>
                                <md-input-container>
                                    <label ng-bind="'NB_USES_LABEL' | translate"></label>
                                    <input required type="number" step="any" name="numberUses" ng-model="newPortal.numberUses" min="1" max="128" aria-label="numberUses"
                                    />

                                    <div ng-messages="updatePortalForm.numberUses.$error" multiple md-auto-hide="false">
                                        <div ng-message="required" ng-bind="'REQUIRED_ERROR' | translate"></div>
                                        <div ng-message="min">> 0</div>
                                        <div ng-message="max">
                                            < 128</div>
                                        </div>
                                </md-input-container>
                                </div>
                            </div>
                        </div>
                            <div id="isUnknow">
                                <md-checkbox name="isUnknow" ng-model="newPortal.isUnknow" aria-label="unknow">{{ 'IS_UNKNOW_LABEL' | translate }}</md-checkbox>
                            </div>
                        </div>


                        <div>
                            <div id="modifiers-cycle">
                                <div id="modifiers" ng-style="{ 'transform' : getCurrentRotation() }">
                                    <div class="modifier" ng-repeat="modifier in modifiers track by $index">
                                        <img class="noselect modifier-img" ng-click="changeModifier(modifier.id)" ng-class="{ 'current-modifier' : modifier.id == newPortal.modifierId }"
                                            ng-src="{{getModifierImgPathByName(modifier.name)}}">
                                    </div>
                                </div>

                                <div id="modifiers-spin">
                                    <div id="current-modifier-div">
                                        <h2 id="current-modifier-title" ng-bind="getCurrentModifierName()"></h2>
                                    </div>
                                </div>
                            </div>
                        </div>
        </form>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button class="btn btn-primary" ng-disabled="!isReady()" ng-click="update()" type="submit" ng-bind="'UPDATE_PORTALS_BTN' | translate"
            aria-label="submit"></md-button>
        <a class="btn btn-dialog-close" ng-click="closeDialog()" ng-bind="'CANCEL_BTN' | translate"></a>
    </md-dialog-actions>
</md-dialog>