/* Global CSS */

@font-face {
    font-family: "Btn Font";
    src: url("../fonts/Jackpot.ttf");
}

html,body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
    position: relative;
}

main {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

.btn-title {
    font-family: "Btn Font", "Verdana", "Geneva", "Tahoma", "sans-serif";
    text-transform: uppercase;
}