/* Global CSS */

@font-face {
    font-family: "Btn Font";
    src: url("../fonts/Jackpot.ttf");
}

html,body {
    min-height: 100%;
    width: 100%;
    margin: 0;
    font-family: "Verdana", "Geneva", "Tahoma", "sans-serif";
    position: relative;
}

main {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

.btn-title {
    font-family: "Btn Font", "Verdana", "Geneva", "Tahoma", "sans-serif";
    text-transform: uppercase;
}

md-toast {
    margin-top: 5.5rem;
    padding-top: 0;
}

body md-toast.md-default-theme .md-toast-content {
    background-color: #27ae60;
    border-radius: 0 0 2px 2px; 
}