/* Home CSS */

#home-view {
    width: 100%;
    min-height: 100%;
    background-image: url('../img/background/home_background.jpg');
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    z-index: 1;
    display: flex;
}

#home-content {
    margin: 13rem auto;
    background-color: rgba(255,255,255,0.66);
    width: 100%;
    max-width: 117rem;
    text-align: center;
    display: flex;
    min-height: calc(100vh - 26rem);
}

#home-content > div {
    height: 100%;
    padding-top: 1.5rem;
}

#home-content > div > a {
    text-decoration: none;
    cursor: pointer;
    display: block;
}

#home-content .home-btn h2 {
    color: white;
    text-shadow: 0 2px 2px rgba(0,0,0,.35);
    width: 100%;
    margin: auto;
    font-size: 2rem;
    padding: 2rem 0;
    line-height: 3.6rem;
}

#home-content #dimensions-btn > div {
    background-color: #428bca;
}

#home-content #dimensions-btn:hover > div {
    background-color : #4B9DE4;
}

#home-content #changelog-btn > div {
    background-color: #ab1520;
}

#home-content #changelog-btn:hover > div {
    background-color: #C51823;
}

#home-content #partners-btn > div {
    background-color: #f66d09;
}

#home-content .home-btn img {
    width: 100%;
}

#home-content .partner-link {
    margin-top: 2rem;
}

#home-content .partner-link img {
    width: 100%;
}

#home-content #partner-dofusExchange {
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid black;
}

#home-content #partners-icon {
    height: 6rem;
}

#home-content #changelog-icon {
    height: 6rem;
}

#home-content #dimensions-icon {
    height: 10rem;
}

#home-content .btn-title img {
    width: auto;
    margin: auto 0 auto 2rem;
}