<div id="footer-content">
    <div class="col-xs-3">
        <h2>{{ 'FOLLOW_US' | translate }}</h2>
        <a class="social-network" href="" target="_blank">
            <md-tooltip>
                Facebook
            </md-tooltip>
            <img ng-src="{{ facebookIconPath }}">
        </a>
        <a class="social-network" href="" target="_blank">
            <md-tooltip>
                Twitter
            </md-tooltip>
            <img ng-src="{{ twitterIconPath }}">
        </a>
    </div>
    <div class="col-xs-6">
        <h1>{{ 'PURPOSE_HELP' | translate }}</h1>
        <ul class="list-inline">
            <li>{{ 'REPORT_BUG' | translate }}</li>
            <li>{{ 'PURPOSE_UPGRADE' | translate }}</li>
            <li>{{ 'PURPOSE_PICTURE' | translate }}</li>
            <li>{{ 'CONTACT_US' | translate }}</li>
        </ul>
    </div>
    <div id="copyrights" class="col-xs-3">
        <div>
            Icons made by
            <a href="http://www.freepik.com" target="_blank">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">
                www.flaticon.com
            </a> is licensed by
            <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank">
                CC 3.0 BY
            </a>
        </div>
        <div>
            Artwork © Ankama Games
        </div>
    </div>
</div>