<nav id="nav">
    <div clas="navbar-right" id="right-div" ng-mouseleave="displayLanguageList(false)">
    <a id="language-current" ng-mouseover="displayLanguageList(true)" ng-click="displayLanguageList(true)"><img ng-src="./app/assets/svg/country/{{currentLanguage.id}}.svg"></a>
    <div ng-if="isLanguagesList" id="language-list">
        <ul>
            <li ng-repeat="language in languages" ng-click="updateLanguage(language)"><span>{{language.name}}</span> <img height="10rem" ng-src="./app/assets/svg/country/{{language.id}}.svg"></li>
        </ul>
    </div>
    </div>
    
</nav>
<nav id="nav-menu" class="navbar">
    <a href="#" id="logo-link">
        <img id="logo" src="./app/assets/img/Logo.png">
    </a>
</nav>