<!-- Navbar des actions utilitaires -->

<nav id="nav">
    <div clas="navbar-right" id="header-right-div" ng-mouseleave="displayLanguageList(false)">
        <div class="header-right-actions">
            <div class="header-right-actions">
                <a id="help-link" ng-click="showHelpDialog($event)">
                    <md-tooltip>
                        {{ 'HELP_TOOLTIP' | translate}}
                    </md-tooltip>
                    <img ng-src="{{ helpIconPath }}">
                </a>
                <a id="register-link" ng-click="">
                    <md-tooltip>
                        {{ 'REGISTER_TOOLTIP' | translate}}
                    </md-tooltip>
                    <img ng-src="{{ registerIconPath }}">
                </a>
                <a id="login-link" ng-click="">
                    <md-tooltip>
                        {{ 'LOGIN_TOOLTIP' | translate}}
                    </md-tooltip>
                    <img ng-src="{{ loginIconPath }}">
                </a>
                <a id="language-current" ng-class="{'active' : isLanguagesList}" ng-mouseover="displayLanguageList(true)" ng-click="displayLanguageList(true)">
                    <img ng-src="{{ languageIconPath(currentLanguage) }}">
                </a>
            </div>
        </div>
        <div ng-if="isLanguagesList" id="language-list">
            <ul>
                <li ng-repeat="language in languages()" ng-click="updateLanguage(language)"><span>{{language.name}}</span> <img ng-src="{{ languageIconPath(language) }}"></li>
            </ul>
        </div>
    </div>

</nav>

<!-- Navbar des liens des pages -->

<nav id="nav-menu" class="navbar">
    <a href="#" id="logo-link">
        <img id="logo" src="{{ logoImgPath }}">
    </a>
</nav>